@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Neue+Montreal:wght@500');
@import '@mantine/core/styles.css';
@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
}

.font-fredoka {
  font-family: 'Fredoka', sans-serif;
}

.font-neue-montreal {
  font-family: 'Neue Montreal', sans-serif;
}